:root{
    background: linear-gradient(to top, #ada996, #f2f2f2, #dbdbdb, #eaeaea);
  }

  * {
    padding: 0;
    border: none;
    box-sizing: border-box;
}

#main_header {
    background: #5c5f70;
    position: fixed;
    height: 5vh;
    padding: 1rem 2rem;
    align-items: center;
    display: flex;
    align-items: center;
    gap: 1rem;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 1000;
}

.logo {
  right: 10px;
  width: 17.6px;
  height: 31.5px;
  position: relative;
  content: "";
  position: absolute;
  inset:0 30px;
  background: #ff8001;    
  box-shadow: 0 0 0 50px;
  clip-path: polygon(100% 0, 23% 46%, 46% 44%, 15% 69%, 38% 67%, 0 100%, 76% 57%, 53% 58%, 88% 33%, 60% 37%);;
}


#main_header nav {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    padding-right: 2rem;
    gap: 1rem;
    text-decoration: none;
}

#main_header nav a {
  color: rgb(4, 4, 5);
  text-decoration: none;
  padding: 0.3rem;
  transition: color 0.3s;
}

#main_header nav a:hover {
  color: rgb(216, 216, 216);
}



#main_header form {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
}

#main_header form button {
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1rem;
}

#main_header form button img {
    height: 30px;
    object-fit: contain;
}

@media (max-width: 1200px) {
  #main_header {
    justify-content: space-between;
  }}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

#contacto{
    padding: 0px 0 170px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-direction: row;
  }

#titulo{
  padding-top: 20px;
  font-size: 20px;
  width: 75%;
  font-weight: 100;
  }

.lista {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    flex-wrap: wrap;

  }

.lista li{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.lista li p{
  
}


.home-card {
    padding: 5px 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }

  @media (max-width: 1200px) {
    .home-card {
      display: none;
    }
    #home {
      align-items: center;
      width: (100%-3rem);
    }
    .home-info h1 {
      text-align: center;
      font-size: 3rem;
    }
    .home-info p {
      text-align: center;
      font-size: 1.2rem;
    }
  
  }


  footer{
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    padding: 1rem 2rem ;
    
  }
  


  .loader {
    width: 32.5px;
    height: 65px;
    position: relative;
  }
  
  .loader:before,
  .loader:after {
    content: "";
    position: absolute;
    inset: 0;
    background: #ff8001;    
    box-shadow: 0 0 0 50px;
    clip-path: polygon(100% 0, 23% 46%, 46% 44%, 15% 69%, 38% 67%, 0 100%, 76% 57%, 53% 58%, 88% 33%, 60% 37%);;
  }
  .loader:hover {
    animation: l8 1.2s infinite;
    transform: perspective(300px) translateZ(0px)
  }
  @keyframes l8 {
    to {transform:perspective(300px) translateZ(180px);opacity:0}
  }
  






